* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#6c6b6b;

}

header{
  width: 100%;
  padding: 30px 20px;
  background-color: #bb22bb;
  display: flex;
  justify-content:flex-end;
}

header>:first-child{
  margin-right: auto;
}

header > div{
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #bb88bb;
}