<div class="col-lg-3">
  <table class="table table-bordered">
    <thead>
      <th>ジャンル検索</tr>
    </thead>
    <tbody>
      <% genre.each do |genre| %>
        <th><%= genre.name %></th>
      <% end %>
    </tbody>
  </table>
</div>
