<div class="row-lg-2">
  <table class="table">
    <thead>
      <tr scope="col">ジャンル検索</tr>
    </thead>
    <tbody>
      <% genre.each do |genre| %>
        <th scope="col"><%= genre.name %></th>
      <% end %>
    </tbody>
  </table>
</div>
