<h1>welcome to <stroug>Bookers</stroug> !!</h1>

<p>In <stroug>Bookers</stroug> ,</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>

<%= link_to "Log in", "/users/sign_in" %>
<%= link_to "Sign up", "/users/sign_up" %>
